<div class="container-fluid">
    <div class="container p-4">
        <p class="display-4">Problema 2</p>
        <hr />
        <div class="row">
            <div class="col-4">
                Input:
            </div>
            <div class="col-8">
                <textarea id="txtinput" rows="10" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
            </div>
        </div>
        <div class="row justify-content-end mt-3">
            <button class="btn btn-success col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2" onclick="p2.methods.resolve();" style="margin-right:15px;">Cargar</button>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                Output:
            </div>
            <div class="col-8">
                <textarea id="txtoutput" rows="10" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- Scripts-->
<script src="js/problem2.js"></script>
